<ion-view view-title="Doze ou Dez">

  <ion-nav-bar align-title="left" class="droid-bar"></ion-nav-bar>

  <ion-nav-buttons side="secondary">
    <a class="button button-icon"
      ng-class="{ paused: 'ion-play', running: 'ion-pause' }[game.status]"
      ng-click="playPause()"></a>
    <a class="button button-icon ion-stop" ng-click="reset()"></a>
  </ion-nav-buttons>

  <ion-content>
      <div class="row row-center scoreboard">
        <div class="col clock">
          {{game.clock.toString()}}
        </div>
      </div>
      <div class="row row-center scoreboard">
        <span class="col col-50 points">{{game.homeTeam.points}}</span>
        <div class="col col-50">
          <a class="col-33 team" ng-click="score(game.homeTeam, 2)">
            <i class="icon icon_ios-basketball-outline-2" ></i>
          </a>
          <a class="col-33 team" ng-click="score(game.homeTeam, 3)">
            <i class="icon icon_ios-basketball-outline-3" ></i>
          </a>
        </div>
      </div>
      <div class="row row-center scoreboard">
        <span class="col col-50 points">{{game.awayTeam.points}}</span>
        <div class="col col-50">
          <a class="col-33 team" ng-click="score(game.awayTeam, 2)">
            <i class="icon icon_ios-basketball-2" ></i>
          </a>
          <a class="col-33 team" ng-click="score(game.awayTeam, 3)">
            <i class="icon icon_ios-basketball-3" ></i>
          </a>
        </div>
  </ion-content>
</ion-view>
