.droid-bar {
  background-color: #FF6600;
  color: #ffffff;
}

.droid-bar .title {
  color: #ffffff;
}

.droid-bar .button.button-icon:before {
  color: #ffffff;
  font-size: 17px;
  vertical-align: middle;
}


.scoreboard {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
}

.scoreboard .team {
  font-size: 1.8em;
  padding-bottom: 10px;
  text-align: center;
  color: black;
}

.scoreboard .points{
  font-size: 1.6em;
}

.scoreboard .clock{
  font-size: 2em;
  margin: 20px;
}

.scoreboard .points { color: #ccc; }
.scoreboard .lead { color: #ff6600; }

.scoreboard .col-33 { width: 33%; }

.scoreboard a { text-decoration: none; }

.item-player-divider{
  text-align: center;
}

.item-player{
  float: left;
  margin: -1px 0;
  width: 50%;
}

.item-player:nth-child(odd){
  border-left: none;
  text-align: right;
}

.item-player p{
  margin: 0;
}
